body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0:
}

p {
  max-width: 500px;
  margin: 10%;
}

.bio, .work, .play {
  margin: 50px;
  margin-bottom: 250px;
}

.header {
  margin-top: 25px;
}

.header h1 {
  text-align: center;
  font-size: 350%;
  margin: 0;
  padding: 0;
}

.header h2 {
  text-align: center;
  margin: 0;
  padding: 25px;
}

.nav {
  background-color: #add8e6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav a {
    margin: 10px;
    border-radius: 5px;
	display: block;
	padding: 15px;
	text-decoration: none;
}
.topnav .icon {
  display: none;
}

.bio {
  margin-top: 50px;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #a9a9a9;
}
